@media screen and (max-width: 1650px){
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: .5rem;
            margin-bottom: 5rem;
        }

    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    
}

@media screen and (max-width: 1425px){
    .contact-content-con{
        .right-contact{   
            .submit-btn{
                grid-template-columns: 35%;
                grid-gap: 2rem;
            }
        }
    }
}
@media screen and (max-width: 1400px){
    .blog-hold{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 1170px){
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
    .contact-content-con{
        .right-contact{   
            .submit-btn{
                grid-template-columns: 45%;
            }
        }
    }
    .blog-hold{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 1000px){
    header{ 
        padding: 0 !important;
    }
    .section{
        padding: 7rem 11rem;

    }
}
@media screen and (max-width: 970px){
    .section{
        padding: 7rem 6rem;
    }
}

@media screen and (max-width: 775px){
    header{
        padding:0;
    }
    header .right-header{
        padding: 0 !important;
    }
    .theme-btn{
        top: 93% !important;
        left: 5%;
        width: 45px;
        height: 45px;
    }
    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding: 0;
            }
        }
    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;

        }
    }
    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    
    .section{
        padding: 2rem 2.5rem !important
    }
    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 3.7rem;
            } 
        }
    }
    .controlls{
        top: auto;
        bottom: -11%;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height:19%;
        background-color: var(--color-grey-5);
        border-radius: 15%;
        .control{
            margin: .5rem .3rem;
        }
        
    }  
}

@media screen and (max-width: 680px){
    .theme-btn{
        left: 85% !important;
        top: 5% !important;
        width: 45px;
        height: 45px;
    }

    .controlls{
        top: auto;
        bottom: -11%;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height:19%;
        background-color: var(--color-grey-5);
        border-radius: 15%;
        .control{
            margin: .5rem .3rem;
        }
        
    }  
}
@media screen and (max-width: 550px){
    .contact-content-con{
        .right-contact{   
            .submit-btn{
                grid-template-columns: 65%;
            }
        }
    }
}
@media screen and (max-width: 650px){
    .portfolios{
        .portfolio-item{
            .hover-items{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .portfolios{
        .portfolio-item{
            .hover-items{
                p{
                    font-size: .9rem;
                }
            }
        }
    }
}
@media screen and (max-width: 400px){
    .portfolios{
        .portfolio-item{
            .hover-items{
                p{
                    font-size: .8rem;
                }
            }
        }
    }
    .contact-content-con{
        .right-contact{   
            .submit-btn{
                grid-template-columns: 1fr;
            }
        }
    }
    .blog-hold{
        .blogs{
            .class{
                .blog-text{
                    h4{
                        font-size: .85rem;
                    }
                    p{
                        font-size: .85rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 340px){
    .portfolios{
        .portfolio-item{
            .hover-items{
                p{
                    font-size: .65rem;
                }
            }
        }
    }
}